*{
    margin : 0px;
    padding : 0px;
}
body {
    height : 100vh;
    width : 100vw;
    position: relative;
    background: url('../images/adminSignup.jpg');
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat;
    color : black;
    
}

.container {
    
    /* background-color: transparent; */
    /* box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75); */
    position : absolute;
    top : 25%;
    right : 5%;
    height : 500px;
    width : 700px;
    margin : auto;
}

form {
    height : 400px;
    display: flex;
    flex-direction: column;
}
form label {
    font-size : 20px;
    margin : 20px 0px;
}
input {
  font-size: 22px;
  display: block;
  width: 97%;
  height: 100%;
  padding: 5px 10px;
  background: white;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: black;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus,
textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

button {
    margin-top: 20px;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

p{
    font-size : 20px;
    margin-top : 20px;
    font-family: Arial, Helvetica, sans-serif;

}
p a{
    color : white;
}

.loginInput {
    height : 11%;
}
