*{
    margin : 0px;
    padding : 0px;
}

body {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 20px;
}
.subjectContainer {
    width : 60%;
    background-color: honeydew;
    padding : 20px;
}
.title {
    text-align: center;
    text-transform: uppercase;
    color : red;
    font-size : 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin :20px 0px;
}
.questionNo {
    font-size : 25px;
    margin : 20px 0px;
}
.options {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin : 20px 0px;
}
.option {
    margin : 15px 0px;
}

.submitBtn {
    height: 50px;
    width : 150px;
    background-color: lightblue;
    color : black;
    border-radius: 10px;
    border : none;
    outline : none;
    margin : 20px 0px;
    text-transform: capitalize;
    font-size: 20px;
    cursor : pointer;
}
.submitBtn:hover {
    background-color: rgb(73, 141, 229);
    transition : all .3s ease;

}